--swiftversion 6.2
--indent 4
--allman false
--wraparguments beforefirst
--wrapcollections beforefirst
--wrapparameters beforefirst
--wrapconditions beforefirst
--disable unusedArguments
--exclude .build
