<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Musee-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MuseeBundle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MuseeCAS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MuseeCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MuseeDomain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MuseeGUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MuseeMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MuseeMetadata.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MuseeMuseum.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MuseeSearch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MuseeVision.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MuseeiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>musee.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>MuseeBundle</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeCAS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeDomain</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeGUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeMetadata</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeMuseum</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeSearch</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MuseeVision</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>musee</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
